#Q1

In [46]:
10 + 15

25

#Q2

In [47]:
print("Hello World")

Hello World

#Q3

In [48]:
45 - 34

11

#Q4

In [49]:
8 * 2

16

#Q5

In [50]:
print("Rahul's age is", 45)

Rahul's age is 45

#Q6

In [51]:
print("I have", 10, "mangoes and", 12, "bananas")

I have 10 mangoes and 12 bananas

#Q7

In [52]:
emp_number = 1233
print("Employee Number:", emp_number)
emp_salary = 16745.50
emp_name = "Jerry Squaris"
print("Employee Salary and Name:", emp_salary, emp_name)
emp_salary = 23450.34
print("Updated Employee Salary:", emp_salary)

Employee Number: 1233
Employee Salary and Name: 16745.5 Jerry Squaris
Updated Employee Salary: 23450.34

#Q8

In [53]:
customer_id = 101
type(customer_id)

int

In [54]:
customer_name = "John"
type(customer_name)

str

In [55]:
bill_amount = 675.45
type(bill_amount)

float

In [56]:
x = 5.3 + 0.9j
type(x)

complex

In [57]:
print(customer_id, customer_name, bill_amount)

101 John 675.45

In [58]:
print(x.real)

5.3

print(x.imag + 3)

In [59]:
Flag = True
type(Flag)

bool

In [60]:
y = "False"
type(y)

str

#Q9

In [61]:
bill_id = int(input("Input bill id - "))
customer_id = int(input("Input customer id - "))
customer_name = input("Input customer name - ")
if_minor = bool(input("Input whether minor or not - "))
bill_amount = float(input("Input bill amount - "))
print("Following are the customer details - ")
print("Bill id - ", bill_id, " Customer id - ", customer_id, " Customer Name - ", customer_name, " Minor - ", if_minor, "Bill Amount - ", bill_amount)

Input bill id - 101
Input customer id - 1001
Input customer name - Rahul
Input whether minor or not - 0
Input bill amount - 200.547
Following are the customer details -
Bill id -  101  Customer id -  1001  Customer Name -  Rahul  Minor -  True Bill Amount -  200.547

#Q10

In [64]:
print("Input two values num1 and num2 - ")
num1 = int(input("Input value of num1 - "))
num2 = int(input("Input value of num2 - "))
num1 += 4
num2 += 6
print("Sum of new values of num1 and num2 = ", num1 + num2)

Input two values num1 and num2 -
Input value of num1 - 45
Input value of num2 - 78
Sum of new values of num1 and num2 =  133

#Q11

In [65]:
a = 4
b = 5
print("Before swapping - ")
print("a = ", a, " b = ", b)
a = a + b
b = a - b
a = a - b
print("After swapping - ")
print("a = ", a, " b = ", b)

Before swapping -
a =  4  b =  5
After swapping -
a =  5  b =  4

#Q12

In [67]:
print("Input marks of John - ") 
marks1 = int(input("Input marks in subject 1 - ")) 
marks2 = int(input("Input marks in subject 2 - ")) 
marks3 = int(input("Input marks in subject 3 - ")) 
avg_marks = (marks1 + marks2 + marks3) / 3 
print("Average marks of John - ", avg_marks) 
marks1 += 10 
print("Average marks after changing marks of subject 1 - ", avg_marks)

Input marks of John -
Input marks in subject 1 - 50
Input marks in subject 2 - 60
Input marks in subject 3 - 70
Average marks of John -  60.0
Average marks after changing marks of subject 1 -  60.0

#Q13

In [68]:
rad = int(input("Input radius of circle - "))
area = 3.14 * rad * rad
perimeter = 2 * 3.14 * rad
print("Area of the circle - ", area)
print("Perimeter of the circle - ", perimeter)

Input radius of circle - 5
Area of the circle -  78.5
Perimeter of the circle -  31.400000000000002

#Q14

In [69]:
def monthly_pay(hours, pay_rate, weeks):
    pay = hours * pay_rate * weeks
    print("Number of hours worked per week - ", hours)
    print("Pay Rate per hour - ", pay_rate)
    print("No. of weeks in a month - ", weeks)
    print("Total monthly pay of the employee - ", pay)
monthly_pay(40, 400, 4)

Number of hours worked per week -  40
Pay Rate per hour -  400
No. of weeks in a month -  4
Total monthly pay of the employee -  64000

#Q15 a

In [70]:
for x in range(50, 80+1):
    if x % 2 == 0:
        print(x)

50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80

#Q15 b

In [71]:
def sum_n(n):
    sum = (n * (n+1)) / 2
    print("Sum of first ", n, " natural numbers - ", sum)
sum_n(int(input("Input value of n - ")))

Input value of n - 54
Sum of first  54  natural numbers -  1485.0

#Q15 c

In [72]:
def prime(n):
    flag = True
    for x in range(2, int(n/2)):
        if n % x == 0:
            flag = False
            break
    if flag == True:
        print("Given number is prime")
    else:
        print("Given number is not prime")
prime(int(input("Input a number to check whether it is prime or not - ")))

Input a number to check whether it is prime or not - 79
Given number is prime

#Q15 d

In [73]:
def fibonacci(n):
    first = 0
    second = 1
    print(first)
    print(second)
    for x in range(1, n-1):
        second = first + second
        first = second - first
        print(second)
fibonacci(int(input("Input Number of elements in fibonacci series - ")))

Input Number of elements in fibonacci series - 6
0
1
1
2
3
5