#Q1 Calculate Word Frequencies. Take a set of sentences in a string as an input. Count each unique occurrence of a word and calculate frequency of occurrence and store in a dictionary. Produce a frequency table.

In [13]:
inp = input("Input a string - ")
str_list = []

l = 0
r = 0
while l < len(inp):
    while r < len(inp) and (( inp[r] >= 'a' and inp[r] <= 'z' ) or ( inp[r] >= 'A' and inp[r] <= 'Z' )):
        r += 1
    str_list += [inp[l:r]]
    while r < len(inp) and ( inp[r] < 'a' or inp[r] > 'z' ) and ( inp[r] < 'A' or inp[r] > 'Z' ):
        r += 1
    l = r

d = dict()
for i in str_list:
    if i in d.keys():
        d[i] = d[i] + 1;
    else:
        d[i] = 1
print(d)

Input a string - cs, mech, mech, ece, ece, eee.
{'cs': 1, 'mech': 2, 'ece': 2, 'eee': 1}

#Q2 Result Calculation. Create a dictionary and a list like following.

Student = { 'UE183001': 'Avish', 'UE183002': 'Bhavya', 'UE183003': 'Tanya' } Add atleast 10 students Marks = [('UE183001', 'CS', 94 ), ('UE183002', 'CS', 64 ), ('UE183001', 'RV', 94), ('UE183002', 'CS', 74), ('UE183003', 'CS', 64)] Add some more values Find total marks of each students and display full name of student with total marks secured. This is the basic relational database join algorithm between two tables.

In [18]:
from random import randint

Student = { 'UE183001': 'Avish', 'UE183002': 'Bhavya', 'UE183003': 'Tanya', 'UE183004' : 'Rajat', 'UE183005' : 'Ojasvi',
          'UE183006' : 'Nikhil', 'UE183007' : 'Naman', 'UE183008' : 'Rehan', 'UE183009' : 'Prashant', 'UE183010' : 'Rohit',
          'UE183011' : 'Ojasvi', 'UE183012' : 'Vishal', 'UE183013' : 'Vaibhav'}

Marks = []

for i in range(1, 14):
    if i < 10:
        roll = 'UE18300' + str(i)
    else:
        roll = 'UE1830' + str(i)
    sub = 'CS'
    marks = int(input('Input marks of ' +roll +  ' for ' +  sub + ' -'))
    Marks = Marks + [[roll, sub, marks]]
    sub = 'RV'
    marks = int(input('Input marks of ' +roll +  ' for ' +  sub + ' -'))
    Marks = Marks + [[roll, sub, marks]]
    sub = 'IP'
    marks = int(input('Input marks of ' +roll +  ' for ' +  sub + ' -'))
    Marks = Marks + [[roll, sub, marks]]

total_marks = dict()
for i in Marks:
    if i[0] in total_marks.keys():
        total_marks[i[0]] = total_marks[i[0]] + i[2]
    else:
        total_marks[i[0]] = i[2]
        
name_marks = dict()
for i in Student:
    if i in total_marks.keys():
        name_marks[Student[i]] = [i, total_marks[i]]
    else:
        name_marks[Student[i]] = [i, 0]

for i in name_marks:
    print(i, name_marks[i][1])

Input marks of UE183001 for CS -89
Input marks of UE183001 for RV -45
Input marks of UE183001 for IP -89
Input marks of UE183002 for CS -68
Input marks of UE183002 for RV -45
Input marks of UE183002 for IP -75
Input marks of UE183003 for CS -86
Input marks of UE183003 for RV -74
Input marks of UE183003 for IP -85
Input marks of UE183004 for CS -82
Input marks of UE183004 for RV -83
Input marks of UE183004 for IP -86
Input marks of UE183005 for CS -84
Input marks of UE183005 for RV -75
Input marks of UE183005 for IP -86
Input marks of UE183006 for CS -84
Input marks of UE183006 for RV -87
Input marks of UE183006 for IP -85
Input marks of UE183007 for CS -8
Input marks of UE183007 for RV -89
Input marks of UE183007 for IP -78
Input marks of UE183008 for CS -89
Input marks of UE183008 for RV -48
Input marks of UE183008 for IP -56
Input marks of UE183009 for CS -78
Input marks of UE183009 for RV -89
Input marks of UE183009 for IP -78
Input marks of UE183010 for CS -89
Input marks of UE183010 for RV -78
Input marks of UE183010 for IP -89
Input marks of UE183011 for CS -78
Input marks of UE183011 for RV -89
Input marks of UE183011 for IP -45
Input marks of UE183012 for CS -48
Input marks of UE183012 for RV -86
Input marks of UE183012 for IP -88
Input marks of UE183013 for CS -88
Input marks of UE183013 for RV -99
Input marks of UE183013 for IP -77
Avish 223
Bhavya 188
Tanya 245
Rajat 251
Ojasvi 212
Nikhil 256
Naman 175
Rehan 193
Prashant 245
Rohit 256
Vishal 222
Vaibhav 264

#Q3 A date of the form 8-MAR-85 includes the name of the month, which must be translated to a number. Create a dict suitable for decoding month names to numbers. Create a function which uses string operations to split the date into 3 items using the "-" character. Translate the month, correct the year to include all of the digits.
The function will accept a date in the "dd-MMM-yy" format and respond with a tuple of ( y , m , d ).

In [28]:
def date_tuple(date):
    month = dict()
    month['JAN'] = 1
    month['FEB'] = 2
    month['MAR'] = 3
    month['APR'] = 4
    month['MAY'] = 5
    month['JUN'] = 6
    month['JUL'] = 7
    month['AUG'] = 8
    month['SEP'] = 9
    month['OCT'] = 10
    month['NOV'] = 11 
    month['DEC'] = 12
    date_list = date.split('-')
    y = int(date_list[2])
    if y <= 19:
        y = 2000 + y
    else:
        y = 1900 + y
    m = month[date_list[1]]
    d = int(date_list[0])
    return (y, m, d)
print(date_tuple('8-MAR-85'))
print(date_tuple('15-MAY-18'))

(1985, 3, 8)
(2018, 5, 15)

#Q4 Dice Odds. There are 36 possible combinations of two dice. A sim→ple pair of loops over range(6)+1 will enumerate all combinations. The sum of the two dice is more interesting than the actual combination. Create a dict of all combinations, using the sum of the two dice as the key. Each value in the dict should be a list of tuples; each tuple has the value of two dice. The general outline is something like the following:
d= {}
Loop with d1 from 1 to 6
    Loop with d2 from 1 to 6
        newTuple ← ( d1, d2 ) # create the tuple
        oldList ← dictionary entry for sum d1+d2
        newList ← oldList + newTuple
        replace entry in dictionary with newList
Loop over all values in the dictionary
print the key and the length of the list

In [24]:
d = {}
for i in range(1, 7):
    for j in range(1, 7):
        s = i + j
        if s in d.keys():
            d[s] = d[s] + [(i, j)]
        else:
            d[s] = [(i, j)]
for i in d:
    print(i, '  ', d[i])

2    [(1, 1)]
3    [(1, 2), (2, 1)]
4    [(1, 3), (2, 2), (3, 1)]
5    [(1, 4), (2, 3), (3, 2), (4, 1)]
6    [(1, 5), (2, 4), (3, 3), (4, 2), (5, 1)]
7    [(1, 6), (2, 5), (3, 4), (4, 3), (5, 2), (6, 1)]
8    [(2, 6), (3, 5), (4, 4), (5, 3), (6, 2)]
9    [(3, 6), (4, 5), (5, 4), (6, 3)]
10    [(4, 6), (5, 5), (6, 4)]
11    [(5, 6), (6, 5)]
12    [(6, 6)]