#Q1 Calculate Word Frequencies. Take a set of sentences in a string as an input. Count each unique occurrence of a word and calculate frequency of occurrence and store in a dictionary. Produce a frequency table.

In [1]:
inp = input("Input a string - ")
str_list = []
str_list = inp.split(' ')
d = dict()
for i in str_list:
    if i in d.keys():
        d[i] = d[i] + 1;
    else:
        d[i] = 1
print(d)

Input a string - ewq ewq dsa we
{'ewq': 2, 'dsa': 1, 'we': 1}

#Q2 Result Calculation. Create a dictionary and a list like following.

Student = { 'UE183001': 'Avish', 'UE183002': 'Bhavya', 'UE183003': 'Tanya' } Add atleast 10 students Marks = [('UE183001', 'CS', 94 ), ('UE183002', 'CS', 64 ), ('UE183001', 'RV', 94), ('UE183002', 'CS', 74), ('UE183003', 'CS', 64)] Add some more values Find total marks of each students and display full name of student with total marks secured. This is the basic relational database join algorithm between two tables.

In [7]:
from random import randint

Student = { 'UE183001': 'Avish', 'UE183002': 'Bhavya', 'UE183003': 'Tanya', 'UE183004' : 'Rajat', 'UE183005' : 'Ojasvi',
          'UE183006' : 'Nikhil', 'UE183007' : 'Naman', 'UE183008' : 'Rehan', 'UE183009' : 'Prashant', 'UE183010' : 'Rohit',
          'UE183011' : 'Ojasvi', 'UE183012' : 'Vishal', 'UE183013' : 'Vaibhav'}

Marks = []

for i in range(1, 14):
    if i < 10:
        roll = 'UE18300' + str(i)
    else:
        roll = 'UE1830' + str(i)
    sub = 'CS'
    marks = randint(50, 100)
    Marks = Marks + [[roll, sub, marks]]
    sub = 'RV'
    marks = randint(50, 100)
    Marks = Marks + [[roll, sub, marks]]
    sub = 'IP'
    marks = randint(50, 100)
    Marks = Marks + [[roll, sub, marks]]

total_marks = dict()
for i in Marks:
    if i[0] in total_marks.keys():
        total_marks[i[0]] = total_marks[i[0]] + i[2]
    else:
        total_marks[i[0]] = i[2]
        
name_marks = dict()
for i in Student:
    if i in total_marks.keys():
        name_marks[Student[i]] = total_marks[i]
    else:
        name_marks[Student[i]] = 0
print(name_marks)

{'Avish': 198, 'Bhavya': 178, 'Tanya': 214, 'Rajat': 211, 'Ojasvi': 205, 'Nikhil': 224, 'Naman': 260, 'Rehan': 282, 'Prashant': 246, 'Rohit': 196, 'Vishal': 240, 'Vaibhav': 233}

#Q3 A date of the form 8-MAR-85 includes the name of the month, which must be translated to a number. Create a dict suitable for decoding month names to numbers. Create a function which uses string operations to split the date into 3 items using the "-" character. Translate the month, correct the year to include all of the digits.
The function will accept a date in the "dd-MMM-yy" format and respond with a tuple of ( y , m , d ).

In [12]:
def date_tuple(date):
    month = dict()
    month['JAN'] = 'JANUARY'
    month['FEB'] = 'FEBRUARY'
    month['MAR'] = 'MARCH'
    month['APR'] = 'APRIL'
    month['MAY'] = 'MAY'
    month['JUN'] = 'JUNE'
    month['JUL'] = 'JULY'
    month['AUG'] = 'AUGUST'
    month['SEP'] = 'SEPTEMBER'
    month['OCT'] = 'OCTOBER'
    month['NOV'] = 'NOVEMBER'
    month['DEC'] = 'DECEMBER'
    date_list = date.split('-')
    y = int(date_list[2])
    if y <= 19:
        y = 2000 + y
    else:
        y = 1900 + y
    m = month[date_list[1]]
    d = int(date_list[0])
    return (y, m, d)
print(date_tuple('8-MAR-85'))

(1985, 'MARCH', 8)

#Q4 Dice Odds. There are 36 possible combinations of two dice. A sim→ple pair of loops over range(6)+1 will enumerate all combinations. The sum of the two dice is more interesting than the actual combination. Create a dict of all combinations, using the sum of the two dice as the key. Each value in the dict should be a list of tuples; each tuple has the value of two dice. The general outline is something like the following:
d= {}
Loop with d1 from 1 to 6
    Loop with d2 from 1 to 6
        newTuple ← ( d1, d2 ) # create the tuple
        oldList ← dictionary entry for sum d1+d2
        newList ← oldList + newTuple
        replace entry in dictionary with newList
Loop over all values in the dictionary
print the key and the length of the list

In [15]:
d = {}
for i in range(1, 7):
    for j in range(1, 7):
        s = i + j
        if s in d.keys():
            d[s] = d[s] + [(i, j)]
        else:
            d[s] = [(i, j)]
for i in d:
    print(i, '  ', len(d[i]))

2    1
3    2
4    3
5    4
6    5
7    6
8    5
9    4
10    3
11    2
12    1