#Q1 Calculate Word Frequencies. Take a set of sentences in a string as an input. Count each unique occurrence of a word and calculate frequency of occurrence and store in a dictionary. Produce a frequency table.

In [31]:
inp = input("Input a string - ")
str_list = []
str_list = inp.split(' ')
d = dict()
for i in str_list:
    if i in d.keys():
        d[i] = d[i] + 1;
    else:
        d[i] = 1
print(d)

Input a string - eqw dsa eqw fds eqw
{'eqw': 3, 'dsa': 1, 'fds': 1}

#Q2 Result Calculation. Create a dictionary and a list like following.

Student = { 'UE183001': 'Avish', 'UE183002': 'Bhavya', 'UE183003': 'Tanya' } Add atleast 10 students
Marks = [('UE183001', 'CS', 94 ), ('UE183002', 'CS', 64 ), ('UE183001', 'RV', 94), ('UE183002', 'CS', 74), 
  ('UE183003', 'CS', 64)] Add some more values
Find total marks of each students and display full name of student with total marks secured. This is the basic relational database join algorithm between two tables.

In [34]:
from random import randint

Student = { 'UE183001': 'Avish', 'UE183002': 'Bhavya', 'UE183003': 'Tanya', 'UE183004' : 'Rajat', 'UE183005' : 'Ojasvi',
          'UE183006' : 'Nikhil', 'UE183007' : 'Naman', 'UE183008' : 'Rehan', 'UE183009' : 'Prashant', 'UE183010' : 'Rohit'}
#Marks = [('UE183001', 'CS', 94 ), ('UE183002', 'CS', 64 ), ('UE183001', 'RV', 94), ('UE183002', 'RV', 74), 
#  ('UE183001', 'IP', 64), ('UE183002', 'IP', 84)]

Marks = []

for i in range(1, 10):
    if i < 10:
        roll = 'UE18300' + '1'
    else:
        roll = 'UE1830' + '10'
    sub = 'CS'
    marks = randint(50, 100)
    Marks = Marks + [roll, sub, marks]
    sub = 'RV'
    marks = randint(50, 100)
    Marks = Marks + [roll, sub, marks]
    sub = 'IP'
    marks = randint(50, 100)
    Marks = Marks + [roll, sub, marks]
    
print(Marks)

total_marks = dict()
for i in Marks:
    if i[0] in total_marks.keys():
        total_marks[i[0]] = total_marks[i[0]] + i[2]
    else:
        total_marks[i[0]] = i[2]
        
print(Student)
for i in Student:
    if i in total_marks.keys():
        name_marks[Student[i]] = total_marks[i]
    else:
        name_marks[Student[i]] = 0
print(name_marks)

['UE183001', 'CS', 81, 'UE183001', 'RV', 63, 'UE183001', 'IP', 92, 'UE183001', 'CS', 84, 'UE183001', 'RV', 96, 'UE183001', 'IP', 99, 'UE183001', 'CS', 74, 'UE183001', 'RV', 97, 'UE183001', 'IP', 69, 'UE183001', 'CS', 83, 'UE183001', 'RV', 83, 'UE183001', 'IP', 52, 'UE183001', 'CS', 54, 'UE183001', 'RV', 59, 'UE183001', 'IP', 89, 'UE183001', 'CS', 55, 'UE183001', 'RV', 69, 'UE183001', 'IP', 66, 'UE183001', 'CS', 78, 'UE183001', 'RV', 83, 'UE183001', 'IP', 77, 'UE183001', 'CS', 60, 'UE183001', 'RV', 62, 'UE183001', 'IP', 64, 'UE183001', 'CS', 62, 'UE183001', 'RV', 64, 'UE183001', 'IP', 87]

IndexError: string index out of range